block vars
 - var title = 'Main page';
 - var lang = 'ru';
 - var stylesheet= 'css/style.min.css';
 - var viewport = 'width=device-width, initial-scale=1.0';
 - var robots = '';
 - var author = '';
 - var copyright = '';
 - var address = '';
 - var description = '';
 - var keywords = '';

doctype html
html(lang=lang)
head
  meta(charset="UTF-8")
  title #{title}
  link(rel="stylesheet" type="text/css" href=stylesheet)
  meta(name="viewport" content=viewport)
  meta(name="format-detection" content="telephone=no")
  if robots != ''
    meta(name="robots" content=robots)
  if author != ''
    meta(name="author" content=author)
  if copyright != ''
    meta(name="copyright" content=copyright)
  if address != ''
    meta(name="address" content=address)
  if description != ''
    meta(name="description" content=description)
  if keywords != ''
    meta(name="keywords" content=keywords)
body
  block head